#holder {
  min-width: 500px;
  min-height: 200px;
  border: 4px dashed #e1e1e1;
}

#holder.hover {
  border: 4px dashed #0000FF;
}

#label-holder {
  display: inline-block;
  margin: 16px 0 4px 0;
}

#exampleTextarea {
	min-width: 500px;
	min-height: 300px;
}

#exampleInputFile { display: none; }

#editField {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#list {
  list-style-type: none;
}